<section class="custom-register-layout">
  <div class="container-fluid pt-5 pb-3 border-bottom px-lg-5">
    <div class="row">
      <div class="col-xl-8">
        <h1>Всички салони</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid py-5 px-lg-5">
    <div class="row">
      <div class="col-lg-3 pt-3">
        <form class="pe-xl-3" [formGroup]="catalogForm">
          <!-- Salon Services -->
          <div class="mb-4">
            <mat-form-field class="w-100">
              <mat-label>Изберете услуга</mat-label>
              <mat-select [formControl]="services" multiple>
                <mat-select-trigger>
                  {{services.value?.[0] || ''}}
                  <span *ngIf="(services.value?.length || 0) > 1">
                    (+ {{ (services.value?.length || 0) - 1 }}
                    {{ services.value?.length === 2 ? "услуга" : "услуги" }})
                  </span>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let service of catalogOptionsData?.serviceList"
                  [value]="service"
                  >{{ service }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Datepicker -->
          <div class="mb-4">
            <mat-form-field class="w-100">
              <mat-label>Изберете диапазон от дати</mat-label>
              <mat-date-range-input
                [formGroup]="catalogForm"
                [rangePicker]="picker"
              >
                <input
                  matStartDate
                  formControlName="start"
                  placeholder="Начална дата"
                />
                <input
                  matEndDate
                  formControlName="end"
                  placeholder="Крайна дата"
                />
              </mat-date-range-input>
              <mat-hint>Формат: Месец/Ден/Година</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error
                *ngIf="
                  catalogForm.controls.start.hasError('matStartDateInvalid')
                "
                >Невалидна начална дата!</mat-error
              >
              <mat-error
                *ngIf="catalogForm.controls.end.hasError('matEndDateInvalid')"
                >Невалидна крайна дата!</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Price Range -->
          <div class="mb-4">
            <div class="example-label-container">
              <label class="float-start">50 лв</label>
              <label class="float-end">200 лв</label>
            </div>
            <mat-slider
              class="w-100"
              min="50"
              max="200"
              showTickMarks
              discrete
              [displayWith]="formatLabel"
            >
              <input
                matSliderThumb
                [(ngModel)]="value"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-slider>
          </div>

          <!-- Locations -->
          <div class="mb-4">
            <mat-form-field class="w-100">
              <mat-label>Изберете локация</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let location of catalogOptionsData?.locationsList"
                  [value]="location"
                  >{{ location }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Rating -->
          <div class="mb-4">
            <mat-form-field class="w-100">
              <mat-label>Изберете рейтинг</mat-label>
              <mat-select>
                <mat-option value="star-one">
                  <i class="fa fa-star text-warning h3"></i>
                  <span class="float-end"> 1/5 </span>
                </mat-option>
                <mat-option value="star-two">
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <span class="float-end"> 2/5 </span>
                </mat-option>
                <mat-option value="star-three">
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <span class="float-end"> 3/5 </span>
                </mat-option>
                <mat-option value="star-four">
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <span class="float-end"> 4/5 </span>
                </mat-option>
                <mat-option value="star-five">
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <i class="fa fa-star text-warning h3"></i>
                  <span class="float-end"> 5/5 </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="col-lg-9">
        <div
          class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4"
        >
          <!-- Results found -->
          <div class="me-3">
            <p class="mb-3 mb-md-0"><strong>12</strong> намерени резултата</p>
          </div>
          <!-- Filter Salons -->
          <div>
            <mat-form-field>
              <mat-label>Сортирай по:</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let filter of catalogOptionsData?.filterList"
                  [value]="filter.value"
                >
                  {{ filter.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- place item-->
          <div
            class="col-sm-6 col-xl-4 mb-5 hover-animate"
            data-marker-id="59c0c8e33b1527bfe2abaf92"
            *ngFor="let element of catalogData"
          >
            <div class="card h-100 border-0 shadow">
              <div class="card-img-top overflow-hidden gradient-overlay">
                <img
                  class="img-fluid"
                  src="{{ element.photo }}"
                  alt="Салон за красота 'Ашли'"
                /><a class="tile-link" href="detail-rooms.html"></a>
                <div class="card-img-overlay-top text-end">
                  <a
                    class="card-fav-icon position-relative z-index-40"
                    href="javascript:void();"
                  >
                    <svg class="svg-icon text-white">
                      <use xlink:href="#heart-1"></use></svg
                  ></a>
                </div>
              </div>
              <div class="card-body d-flex align-items-center">
                <div class="w-100">
                  <h6 class="card-title">
                    <a
                      class="text-decoration-none text-dark"
                      href="detail-rooms.html"
                      >{{ element.name }}</a
                    >
                  </h6>
                  <div class="d-flex card-subtitle mb-3">
                    <p class="flex-shrink-1 mb-0 card-stars text-xs text-end">
                      <i
                        class="fa fa-star text-warning"
                        *ngFor="let item of salonRating; index as i"
                      ></i>
                    </p>
                  </div>
                  <div class="mb-3">
                    <span
                      class="badge bg-primary me-2"
                      *ngFor="let category of element.Category"
                      >{{ category }}</span
                    >
                  </div>
                  <p class="card-text text-muted">
                    <span class="h4 text-primary"
                      >{{ element.LowestPrice | number : "1.2-2" }} лв</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination -->

        <mat-paginator
          #paginator
          (page)="handlePageEvent($event)"
          [length]="length"
          [pageSize]="pageSize"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
          [pageIndex]="pageIndex"
          aria-label="Изберете страница"
        >
        </mat-paginator>

        <!-- <nav aria-label="Page navigation example">
          <ul
            class="pagination pagination-template d-flex justify-content-center"
          >
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fa fa-angle-left"></i
              ></a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <i class="fa fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>
</section>
