<section class="py-5">
    <div class="container">
        <p class="subtitle text-primary">Добавяне на студио</p>

        <h1 class="h2 mb-5">
            Основна информация <span class="text-muted float-end">Първа стъпка</span>
        </h1>
        <form (ngSubmit)="onSubmit()">
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Основна част</h4>
                    <p class="text-muted text-sm">
                        В основната част трябва да добавите името на салона, услугите които
                        предлагате, също така дали желаете клиентите посещаващи сайта да
                        имат възможност да си запазват часове онлайн чрез предадената от вас
                        информация.
                    </p>
                </div>
                <div class="col-lg-7 ms-auto">
                    <div class="mb-4">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Име на салон *</mat-label>
                            <input matInput type="text" [(ngModel)]='model.name' [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div class="mb-4">
                        <app-chips label='Предлагани услуги' addLabel='Изберете услуги...'
                            (itemsChangeEvent)='addServiceHadnler($event)' [allItems]='offeredServices'></app-chips>
                    </div>
                    <div class="mb-4">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Телефон *</mat-label>
                            <input matInput type="text" [(ngModel)]='model.phone' [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                    <div class="mb-4">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Фейсбук *</mat-label>
                            <input matInput type="text" [(ngModel)]='model.facebookUrl'
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Локация</h4>
                    <p class="text-muted text-sm">
                        На този етап апликацията предоставя достъп към обекти в
                        София, Пловдив, Варна, Бургас, Пазарджик. В полетата трябва да посочите: Община, Град, Пощенски
                        код
                        и Улица. На картата отбележете локацията на обекта с цел по-добър
                        ориентир към бъдещите Ви клиенти.
                    </p>
                </div>
                <div class="col-lg-7 ms-auto">
                    <!-- START Dropdown -->
                    <div class="dropdown bootstrap-select form-control">
                        <app-autocomplete [options]='oblasti' label='Област' propertyShow='name'
                            (inputChangeEvent)='addedAreaHandler($event)'></app-autocomplete>
                    </div>
                    <!-- END Dropdown -->
                    <!-- City + ZIP Code-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <div class="dropdown bootstrap-select form-control">
                                    <app-autocomplete [options]='oblasti' label='Град' propertyShow='name'
                                        (inputChangeEvent)='addedTownHandler($event)'></app-autocomplete>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-4">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Пощенски код *</mat-label>
                                    <input matInput type="text" [(ngModel)]='model.address.postalCode'
                                        [ngModelOptions]="{standalone: true}" placeholder="Пример: 1000">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- Street-->
                    <div class="mb-4">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Улица *</mat-label>
                            <input matInput type="text" [(ngModel)]='model.address'
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <section>
                <app-map (getLocationEvent)='setMapCoordinates($event)'></app-map>
            </section>
            <div class="row form-block flex-column flex-sm-row">
                <div class="col text-center text-sm-start"></div>
                <div class="col text-center text-sm-end">
                    <button class="btn btn-primary px-3" (click)="nextPage()">
                        Напред<i class="fa-chevron-right fa ms-2"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>