<div class="row">
  <div class="col-12 mb-2">
    <div class="d-flex justify-content-between">
      <h4>Час</h4>
      <h4 class="">Днес - Сряда</h4>
    </div>
  </div>

  <div class="content-list-hours col-3">
    <div class="content-box-hours" *ngFor="let el of hours">{{ el.hours }}</div>
  </div>

  <div
    cdkDropList
    class="content-list-services col-5"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="content-box-services" *ngFor="let el of dataSource" cdkDrag>
      <ng-container *ngIf="el.today !== ''">{{ el.today }}</ng-container>
      <ng-container *ngIf="el.today === ''">&nbsp;</ng-container>
    </div>
  </div>
</div>
