<section class="py-5">
    <div class="container">
      <!-- Breadcrumbs -->
      <ol class="breadcrumb ps-0 justify-content-start">
        <li class="breadcrumb-item"><a href="index.html">Начало</a></li>
        <li class="breadcrumb-item">
          <a href="user-account.html">Моят профил</a>
        </li>
        <li class="breadcrumb-item active">Запазени салони</li>
      </ol>
      <h1 class="hero-heading mb-4">Последните ви резервации</h1>
      <p class="text-muted mb-5">
        Нямате предстоящи пътувания. Започнете да проучвате идеи за следващото
        си пътуване.
      </p>
      <p class="mb-6">
        <img
          class="img-fluid"
          src="img/illustration/undraw_trip_dv9f.svg"
          alt=""
          style="width: 400px"
        />
      </p>
      <h2 class="mb-5">Вашите предишни резервации</h2>
      <div class="row">
        <!-- place item-->
        <div
          class="col-xl-3 col-md-4 col-sm-6 mb-5"
          data-marker-id="59c0c8e33b1527bfe2abaf92"
        >
          <div class="card hover-animate h-100 border-0 shadow">
            <div class="card-img-top overflow-hidden">
              <a href="user-booking-detail.html"
                ><img
                  class="img-fluid"
                  src="img/photo/photo-1484154218962-a197022b5858.jpg"
                  alt="Modern, Well-Appointed Room"
              /></a>
            </div>
            <div class="card-body d-flex align-items-center">
              <div class="w-100">
                <p class="subtitle fw-normal text-sm mb-2">Посетен март 2019</p>
                <h6 class="card-title">
                  <a
                    class="text-decoration-none text-dark"
                    href="user-booking-detail.html"
                    >Студио за кинезитерапия Валхала</a
                  >
                </h6>
                <div class="d-flex card-subtitle">
                  <p class="flex-grow-1 mb-0 text-muted text-sm">
                    Подстригване
                  </p>
                  <p class="flex-shrink-1 mb-0 card-stars text-xs text-end">
                    <i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- place item-->
        <div
          class="col-xl-3 col-md-4 col-sm-6 mb-5"
          data-marker-id="59c0c8e322f3375db4d89128"
        >
          <div class="card hover-animate h-100 border-0 shadow">
            <div class="card-img-top overflow-hidden">
              <a href="user-booking-detail.html"
                ><img
                  class="img-fluid"
                  src="img/photo/photo-1426122402199-be02db90eb90.jpg"
                  alt="Cute Quirky Garden apt, NYC adjacent"
              /></a>
            </div>
            <div class="card-body d-flex align-items-center">
              <div class="w-100">
                <p class="subtitle fw-normal text-sm mb-2">Посетен март 2019</p>
                <h6 class="card-title">
                  <a
                    class="text-decoration-none text-dark"
                    href="user-booking-detail.html"
                    >Студио за кинезитерапия Валхала</a
                  >
                </h6>
                <div class="d-flex card-subtitle">
                  <p class="flex-grow-1 mb-0 text-muted text-sm">
                    Подстригване
                  </p>
                  <p class="flex-shrink-1 mb-0 card-stars text-xs text-end">
                    <i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-gray-300"> </i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- place item-->
        <div
          class="col-xl-3 col-md-4 col-sm-6 mb-5"
          data-marker-id="59c0c8e3a31e62979bf147c9"
        >
          <div class="card hover-animate h-100 border-0 shadow">
            <div class="card-img-top overflow-hidden">
              <a href="user-booking-detail.html"
                ><img
                  class="img-fluid"
                  src="img/photo/photo-1512917774080-9991f1c4c750.jpg"
                  alt="Modern Apt - Vibrant Neighborhood!"
              /></a>
            </div>
            <div class="card-body d-flex align-items-center">
              <div class="w-100">
                <p class="subtitle fw-normal text-sm mb-2">Посетен Март 2019</p>
                <h6 class="card-title">
                  <a
                    class="text-decoration-none text-dark"
                    href="user-booking-detail.html"
                    >Студио за кинезитерапия Валхала</a
                  >
                </h6>
                <div class="d-flex card-subtitle">
                  <p class="flex-grow-1 mb-0 text-muted text-sm">
                    Подстригване
                  </p>
                  <p class="flex-shrink-1 mb-0 card-stars text-xs text-end">
                    <i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-gray-300"> </i
                    ><i class="fa fa-star text-gray-300"> </i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- place item-->
        <div
          class="col-xl-3 col-md-4 col-sm-6 mb-5"
          data-marker-id="59c0c8e3503eb77d487e8082"
        >
          <div class="card hover-animate h-100 border-0 shadow">
            <div class="card-img-top overflow-hidden">
              <a href="user-booking-detail.html"
                ><img
                  class="img-fluid"
                  src="img/photo/photo-1494526585095-c41746248156.jpg"
                  alt="Sunny Private Studio-Apartment"
              /></a>
            </div>
            <div class="card-body d-flex align-items-center">
              <div class="w-100">
                <p class="subtitle fw-normal text-sm mb-2">Посетен Март 2019</p>
                <h6 class="card-title">
                  <a
                    class="text-decoration-none text-dark"
                    href="user-booking-detail.html"
                    >Студио за кинезитерапия Валхала</a
                  >
                </h6>
                <div class="d-flex card-subtitle">
                  <p class="flex-grow-1 mb-0 text-muted text-sm">
                    Масаж
                  </p>
                  <p class="flex-shrink-1 mb-0 card-stars text-xs text-end">
                    <i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-warning"></i
                    ><i class="fa fa-star text-gray-300"> </i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>