<div class="progress rounded-0 sticky-top" style="height: 8px; top: 71px">
  <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>
<section class="py-5">
  <div class="container">
    <p class="subtitle text-primary">Добавяне на студио</p>
    <h1 class="h2 mb-5">
      Основна информация <span class="text-muted float-end">Първа стъпка</span>
    </h1>
    <form [formGroup]="salonForm" (ngSubmit)="onSubmit()">
      <div class="row form-block">
        <div class="col-lg-4">
          <h4>Основна част</h4>
          <p class="text-muted text-sm">
            В основната част трябва да добавите името на салона, услугите които
            предлагате, също така дали желаете клиентите посещаващи сайта да
            имат възможност да си запазват часове онлайн чрез предадената от вас
            информация.
          </p>
        </div>
        <div class="col-lg-7 ms-auto">
          <div class="mb-4">
            <label class="form-label" for="form_name">Име на студио</label>
            <input class="form-control" name="name" id="form_name" formControlName="salonName" [ngClass]="{
                invalid:
                  salonForm.get('salonName')?.touched ||
                  (salonForm.get('salonName')?.dirty &&
                    salonForm.get('salonName')?.valid)
              }" />
            <div class="custom-input-alert" *ngIf="
                salonForm.get('salonName')?.dirty ||
                salonForm.get('salonName')?.touched
              ">
              <p *ngIf="salonForm.get('salonName')?.errors?.required">
                Полето е задължително!
              </p>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label" for="form_type">Предлагани услуги</label>
            <div class="m-2">
              <span class="badge bg-primary m-1" *ngFor='let item of temp'>{{item}} <button
                  class="btn badge bg-secondary" (click)="removeTag(item)"><i class="fa fa-times m-1 p-0"
                    aria-hidden="true"></i>
                </button></span>
            </div>
            <select class="selectpicker form-control" data-live-search="true"  data-size="5"  [ngModelOptions]="{standalone: true}"
              [(ngModel)]='inp' (ngModelChange)='addServiceTag()'>
              <option selected hidden value="-1">Изберете услуга</option>
              <option *ngFor="let it of temp2" value="{{it}}">{{it}}</option>
            </select>

          </div>
          <div class="mb-4">
            <div class="form-check form-switch">
              <input class="form-check-input" id="formSwitch" type="checkbox" checked="" />
              <label class="form-check-label form-label" for="formSwitch">Желаете ли вашите клиенти да запазват час
                онлайн?</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-block">
        <div class="col-lg-4">
          <h4>Локация</h4>
          <p class="text-muted text-sm">
            На този етап апликацията предоставя достъп към обекти в област
            Пазарджик. В полетата трябва да посочите: Община, Град, Пощенски код
            и Улица. На картата отбележете локацията на обекта с цел по-добър
            ориентир към бъдещите Ви клиенти.
          </p>
        </div>
        <div class="col-lg-7 ms-auto">
          <!-- This is new part & need testing -->
          <div class="mb-4">
            <label class="form-label" for="form_type">Област</label>
          
            <select class="selectpicker form-control" data-size="5" data-live-search="true" [ngModelOptions]="{standalone: true}"
              [(ngModel)]='inp' (ngModelChange)='oblastAdded()' >
              <option selected hidden value="-1">Изберете услуга</option>
              <option *ngFor="let it of oblasti" value="{{it.name}}">{{it.name}}</option>
            </select>
          </div>
          <!-- END Dropdown -->

          <!-- City + ZIP Code-->
          <div class="row">
            <div class="col-md-6">
              <div class="mb-4">
                <label class="form-label" for="form_type">Град</label>
              
                <select class="selectpicker form-control" data-size="5"  data-live-search="true" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]='oblast' (ngModelChange)='oblastAdded()'>
                  <option selected hidden value="-1">Изберете услуга</option>
                  <option *ngFor="let it of gradove" value="{{it.name}}">{{it.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <label class="form-label" for="form_zip">Пощенски код</label>
                <input class="form-control" name="name" id="form_zip" />
              </div>
            </div>
          </div>
          <!-- Street-->
          <div class="mb-4">
            <label class="form-label" for="form_street">Улица</label>
            <input class="form-control" name="name" id="form_street" />
          </div>
        </div>
      </div>
      <section>
        <div class="map-wrapper-450">
          <div class="h-100" id="map" leaflet
          (leafletMapReady)="onMapReady()"></div>
        </div>
      </section>
      <div class="row form-block flex-column flex-sm-row">
        <div class="col text-center text-sm-start"></div>
        <div class="col text-center text-sm-end">
          <button class="btn btn-primary px-3" (click)="nextPage()">
            Напред<i class="fa-chevron-right fa ms-2"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>