<h2 mat-dialog-title>Търсете салон или услуга</h2>
<mat-dialog-content class="mat-typography">
  <form class="my-5">
    <!-- Search Input -->
    <div class="mb-4">
      <input matInput class="form-control w-100" type="text" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="float-end">
  <button type="button" class="btn btn-link text-danger me-2" mat-dialog-close>
    Затвори
  </button>
  <button type="button" class="btn btn-link text-primary me-2">Търси</button>
</mat-dialog-actions>
