<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb ps-0 justify-content-start">
            <li class="breadcrumb-item"><a href="index.html">Начало</a></li>
            <li class="breadcrumb-item active">Моят профил</li>
        </ol>
        <h1 class="hero-heading mb-0">Моят профил</h1>
        <p class="text-muted mb-5">
            Управлявайте профила и настройките си тук.
        </p>
        <div class="row">
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#identity-1"></use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3">
                            <a class="text-decoration-none text-dark stretched-link" href="user-personal.html">Лична
                                информация</a>
                        </h5>
                        <p class="text-muted card-text text-sm">
                            Предоставете лични данни и как можем да се свържем с вас
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#password-1"></use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3">
                            <a class="text-decoration-none text-dark stretched-link" href="user-security.html">Вход
                                &amp; сигурност</a>
                        </h5>
                        <p class="text-muted card-text text-sm">
                            Актуализирайте паролата си и защитете профила си
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#pay-by-card-1"></use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3">
                            <a class="text-decoration-none text-dark stretched-link" href="user-grid.html">Запазени
                                салони</a>
                        </h5>
                        <p class="text-muted card-text text-sm">
                            Преглед на запазените салони, услуги и на вече посетените
                            салони
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#pay-by-card-1"></use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3">
                            <a class="text-decoration-none text-dark stretched-link" href="#">Плащания и изплащания</a>
                        </h5>
                        <p class="text-muted card-text text-sm">
                            Преглед на плащанията, изплащанията, купоните, картите за
                            подаръци и данъците
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#chat-app-1"></use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3">
                            <a class="text-decoration-none text-dark stretched-link" href="#">Известия</a>
                        </h5>
                        <p class="text-muted card-text text-sm">
                            Изберете предпочитания за уведомяване и начина, по който
                            искате да се свързваме с вас
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#diary-1"></use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3">
                            <a class="text-decoration-none text-dark stretched-link" href="#">Поверителност &amp;
                                споделяне</a>
                        </h5>
                        <p class="text-muted card-text text-sm">
                            Контролирайте свързаните приложения, какво споделяте и кой го
                            вижда
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-30px">
                <div class="card h-100 border-0 shadow hover-animate">
                    <div class="card-body">
                        <div class="icon-rounded bg-secondary-light mb-3">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#mix-1"></use>
                            </svg>
                        </div>
                        <h5 class="card-title mb-3">
                            <a class="text-decoration-none text-dark stretched-link" href="#">Глобални предпочитания</a>
                        </h5>
                        <p class="text-muted card-text text-sm">
                            Задаване на език, валута и часова зона по подразбиране
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>