<div
class="auth-background-img"
style="
  background-image: url(img/salon-images/auth-salon-4.jpg);
  object-fit: contain;
"
>
<div class="container px-3">
  <div
    class="d-flex align-items-center justify-content-center min-vh-100"
  >
    <div class="w-75 py-5 px-4 bg-white rounded">
      <div class="row mt-n4 mb-1">
        <button class="col-6 btn shadow-none">Вход</button>
        <button class="col-6 btn shadow-none">Регистрация</button>
      </div>
      <div class="row">
        <hr class="col-6 custom-hr-color-login" />
        <hr class="col-6 custom-hr-color-register" />
      </div>
      <form class="form-validate">
        <div class="mb-4">
          <input
            class="form-control shadow-none border-0 border-bottom border-primary"
            name="registerUsername"
            id="registerUsername"
            type="email"
            placeholder="Име"
            autocomplete="off"
            required
            data-msg="Моля въведете вашето име"
          />
        </div>
        <div class="mb-4">
          <input
            class="form-control shadow-none border-0 border-bottom border-primary"
            name="registerEmail"
            id="registerEmail"
            type="email"
            placeholder="Имейл адрес"
            autocomplete="off"
            required
            data-msg="Моля въведете Имейл"
          />
        </div>
        <div class="mb-4">
          <div class="row"></div>
          <input
            class="form-control shadow-none border-0 border-bottom"
            name="registerPassword"
            id="registerPassword"
            placeholder="Парола"
            type="password"
            required
            data-msg="Моля въведете вашата парола"
          />
        </div>
        <div class="mb-4">
          <div class="row"></div>
          <input
            class="form-control shadow-none border-0 border-bottom"
            name="registerPassword"
            id="registerPassword"
            placeholder="Потвърдете Парола"
            type="password"
            required
            data-msg="Моля потвърдете вашата парола"
          />
        </div>
        <!-- Submit-->
        <div class="d-grid">
          <button class="btn btn-md btn-primary">Вход</button>
        </div>
        <hr class="my-3 hr-text letter-spacing-2" />
        <div class="row justify-content-evenly">
          <button
            class="col-3 btn btn btn-outline-primary btn-social"
          >
            <i class="fa-2x fa-facebook-f fab btn-social-icon"></i
            >
            <span class="d-none d-sm-inline">Facebook</span>
          </button>
          <button class="col-3 btn btn btn-outline-muted btn-social">
            <i class="fa-2x fa-google fab btn-social-icon"></i>
            <span class="d-none d-sm-inline">Google</span>
          </button>
          <button class="col-3 btn btn btn-outline-dark btn-social">
            <i class="fa-2x fa-apple fab btn-social-icon"></i>
            <span class="d-none d-sm-inline">Apple</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>