<!-- Section: Design Block -->
<section class="text-center custom-register-layout my-5">
  <div class="container custom-register-layout">
    <!-- Background image -->
    <div class="p-5 bg-image bg-image-register"></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
      ">
      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="mb-4 text-start">
            <a href="/"><span>&#x2190;</span> Назад</a>
          </div>
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Регистрация</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <!-- Email input -->
              <div class="mb-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Имейл адрес</mat-label>
                  <input matInput formControlName="email" placeholder="ivan.ivanov@gmail.com" />
                  <mat-error class="mb-2" *ngIf="
                      inputValidator.validateControl('email', registerForm)
                    ">
                    Имейлът е
                    <strong>задължителен!</strong>
                  </mat-error>
                  <mat-error *ngIf="inputValidator.validateEmail('email', registerForm)">
                    Имейлът е
                    <strong>неправилен!</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Password input -->
              <div class="mb-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Парола</mat-label>
                  <input matInput formControlName="password" placeholder="********" />
                  <mat-hint>Паролата трябва да съдържа поне 1 главна буква и 1
                    специален символ!</mat-hint>
                  <mat-error *ngIf="
                      inputValidator.validateControl('password', registerForm)
                    ">
                    Паролата е
                    <strong>задължителна!</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Confirm Password input -->
              <div class="mb-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Потвърдете паролата</mat-label>
                  <input matInput formControlName="confirmPassword" placeholder="********" />
                  <mat-hint>Паролата трябва да е същата като в горното поле!</mat-hint>
                  <mat-error *ngIf="
                      inputValidator.validateControl(
                        'confirmPassword',
                        registerForm
                      )
                    ">
                    Паролата е
                    <strong>задължителна!</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Checkbox -->
              <div class="form-check text-start mb-4">
                <div>
                  <input formControlName="checkbox" class="form-check-input me-2" type="checkbox" value=""
                    id="remember-me" checked />
                  <label class="form-check-label" for="remember-me">
                    Регистрация като салон
                  </label>
                </div>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4 w-100" [disabled]="!registerForm.valid">
                Регистрация
              </button>

              <div class="text-end">
                <p>
                  Вече имате профил?
                  <a href="/login">Вход</a>
                </p>
              </div>

              <!-- Register buttons -->
              <div class="text-center">
                <p>можете да се регистрирате също през:</p>
                <div class="row flex-wrap justify-content-evenly">
                  <!-- <button type="button" class="col-12 btn btn-outline-primary mt-3">
                    <i class="fab fa-facebook-f"></i>
                    <span> facebook </span>
                  </button> -->

                  <button type="button" class="col-12 btn btn-outline-primary mt-3">
                    <img src="assets/img/brand/google.svg" alt="Image" />
                    <span> google </span>
                  </button>

                  <!-- <button type="button" class="col-12 btn btn-outline-dark mt-3">
                    <i class="fab fa-apple"></i>
                    <span> apple </span>
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->