<div class="progress rounded-0 sticky-top" style="height: 8px; top: 71px;">
    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
<section class="py-5">
    <div class="container">
        <p class="subtitle text-primary">Add new listing</p>
        <h1 class="h2 mb-5"> Disposition and Amenities <span class="text-muted float-end">Step 3</span> </h1>
        <form>
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Rooms and beds</h4>
                    <p class="text-muted text-sm"> The number and types of beds you have determines how many guests can
                        stay comfortably</p>
                </div>
                <div class="col-lg-7 ms-auto">
                    <div class="row">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item" *ngFor='let item of services;let i=index'>
                                <h2 class="accordion-header" id="panelsStayOpen-{{i}}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        attr.data-bs-target="#panelsStayOpen-{i}}" aria-expanded="false"
                                        attr.aria-controls="panelsStayOpen-{i}}">
                                        Accordion Item #1
                                    </button>
                                </h2>

                                <div id="panelsStayOpen-{i}}" class="accordion-collapse collapse show"
                                    attr.aria-labelledby="panelsStayOpen-{i}}">
                                    <div class="accordion-body">
                                        <div class="m-1">
                                            <label for="inputEmail4" class="form-label">Име на услуга</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <label for="validationServer01" class="form-label">Услуга</label>
                                                <input type="text" class="form-control" id="validationServer01"
                                                    required>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="validationServer02" class="form-label">Цена</label>
                                                <input type="text" class="form-control" id="validationServer02"
                                                    value="Otto" required>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="validationServer04" class="form-label">Продъл.</label>
                                                <select class="form-select" id="validationServer04" required>
                                                    <option selected disabled value="">Продължителност...</option>
                                                    <option>5 мин</option>
                                                    <option>10 мин</option>
                                                    <option>15 мин</option>
                                                    <option>20 мин</option>
                                                    <option>25 мин</option>
                                                    <option>30 мин</option>
                                                    <option>40 мин</option>
                                                    <option>50 мин</option>
                                                    <option>1 час</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row mt-3 ">
                                            <div class="col-sm-12 d-flex justify-content-center">
                                                <div class="btn btn-items btn-items-decrease" style="margin-right:2%">-
                                                </div>
                                                <div class="btn btn-items btn-items-increase ">+</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row mt-3 ">
                                <div class="col-sm-12 d-flex justify-content-center">
                                    <div class="btn btn-items btn-items-decrease" style="margin-right:2%">-</div>
                                    <div class="btn btn-items btn-items-increase ">+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-block">
                <div class="col-lg-4">
                    <h4>Amenities</h4>
                    <p class="text-muted text-sm">His room, a proper human room although a little too small, lay
                        peacefully between its four familiar walls. A collection of textile samples lay spread out on
                        the table.</p>
                </div>
                <div class="col-lg-7 ms-auto">
                    <div class="mb-4">
                        <label class="form-label">Available Amenities</label>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_0" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_0">Kitchen </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_1" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_1">Shampoo </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_2" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_2">Heating </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_3" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_3">Air conditioning
                                    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_4" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_4">Washer </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_5" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_5">Dryer </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_6" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_6">Wifi </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_7" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_7">Breakfast </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_8" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_8">Indoor fireplace
                                    </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_9" name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_9">Buzzer/wireless
                                        intercom </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_10"
                                        name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_10">Doorman </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_11"
                                        name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_11">Hangers </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_12"
                                        name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_12">Iron </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_13"
                                        name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_13">Hair dryer </label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="amenities_14"
                                        name="amenities[]">
                                    <label class="form-check-label text-muted" for="amenities_14">Laptop friendly
                                        workspace </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row form-block flex-column flex-sm-row">
                <div class="col text-center text-sm-start"><button class="btn btn-link text-muted"
                        (click)='previousPage()'> <i class="fa-chevron-left fa me-2"></i>Back</button>
                </div>
                <div class="col text-center text-sm-end"><button class="btn btn-primary px-3" (click)='nextPage()'> Next
                        step<i class="fa-chevron-right fa ms-2"></i></button></div>
            </div>
        </form>
    </div>
</section>