<section class="custom-employee-table-layout">
  <div class="container">
    <div class="row">
      <!-- User Card -->
      <div class="col-lg-3 mb-5 me-lg-auto">
        <div class="card border-0 shadow mb-6 mb-lg-0">
          <div class="card-header bg-gray-100 py-4 border-0 text-center">
            <a class="d-inline-block"
              ><img
                class="d-block avatar avatar-xxl p-2 mb-2"
                src="/assets/img/salon-images/salon-3.jpg"
                alt=""
            /></a>
            <h5>Студио "Beauty"</h5>
            <p class="text-muted text-sm mb-0">Студио "Beauty"</p>
          </div>
          <div class="card-body p-4">
            <div class="d-flex align-items-center mb-3">
              <div
                class="icon-rounded icon-rounded-sm bg-primary-light flex-shrink-0 me-2"
              >
                <svg class="svg-icon text-primary svg-icon-md">
                  <use xlink:href="#diploma-1"></use>
                </svg>
              </div>
              <div>
                <p class="mb-0">74 ревюта</p>
              </div>
            </div>
            <hr />
            <h6>Публична информация</h6>
            <ul class="card-text text-muted">
              <li>Имейл: beauty@some.com</li>
              <li>Телефон: 0899 999 999</li>
              <li>Телефон: 0899 888 888</li>
              <li>Адрес: София, бул. Христо Ботев</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Employees Table Data -->
      <div class="col-lg-9 ps-lg-5">
        <h1 class="hero-heading mb-0">Таблица с всички служители</h1>
        <hr />
        <div class="text-block">
          <table mat-table [dataSource]="employeesDataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>№</th>
              <td mat-cell *matCellDef="let element">
                {{ element.id }}
              </td>
            </ng-container>

            <ng-container matColumnDef="img">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="image-cell">
                <img
                  src="{{ element.img }}"
                  class="employee-profile-picture-sm"
                  alt="Снимка.."
                />
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Име и Фамилия</th>
              <td mat-cell *matCellDef="let element">
                {{ element.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Позиция</th>
              <td mat-cell *matCellDef="let element">
                {{ element.position }}
              </td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>Роля</th>
              <td mat-cell *matCellDef="let element">
                {{ element.role }}
              </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Имейл</th>
              <td mat-cell *matCellDef="let element">
                {{ element.email }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              routerLink="/studio-employee-detail/:{{ row.id }}"
              class="cursor-pointer"
            ></tr>
          </table>

          <mat-paginator
            #paginator1
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
