<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb ps-0  justify-content-start">
            <li class="breadcrumb-item"><a href="index.html">Начало</a></li>
            <li class="breadcrumb-item"><a href="user-account.html">Моят профил</a></li>
            <li class="breadcrumb-item active">Вход &amp; сигурност </li>
        </ol>
        <h1 class="hero-heading mb-0">Вход &amp; сигурност</h1>
        <p class="text-muted mb-5">Управлявайте влизането, сигурността и настройките си тук.</p>
        <div class="row">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="text-block">
                    <h3 class="mb-4">Вход</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Парола</h6>
                            <p class="text-sm text-muted">Последно актуализирана преди 3 години</p>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-link ps-0 text-primary collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#updatePassword" aria-expanded="false"
                                aria-controls="updatePassword">Актуализиране</button>
                        </div>
                    </div>
                    <div class="collapse" id="updatePassword">
                        <div class="row mt-4">
                            <div class="mb-4 col-12">
                                <label class="form-label" for="password-current">Текуща парола</label>
                                <input class="form-control" type="password" name="password-current"
                                    id="password-current">
                            </div>
                            <div class="mb-4 col-md-6">
                                <label class="form-label" for="password-new">Нова парола</label>
                                <input class="form-control" type="password" name="password-new" id="password-new">
                            </div>
                            <div class="mb-4 col-md-6">
                                <label class="form-label" for="password-confirm">Потвърдете паролата</label>
                                <input class="form-control" type="password" name="password-confirm"
                                    id="password-confirm">
                            </div>
                        </div>
                        <button class="btn btn-outline-primary">Актуализиране на паролата</button>
                    </div>
                </div>
                <div class="text-block">
                    <h3 class="mb-4">Социални акаунти</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Facebook</h6>
                            <p class="text-sm text-muted">Не е свързан</p>
                        </div>
                        <div class="col text-end"><a class="btn btn-link text-primary ps-0" href="#">Свързан</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Google</h6>
                            <p class="text-sm">Свързан</p>
                        </div>
                        <div class="col text-end"><a class="btn btn-link text-primary ps-0" href="#">Отсвързване</a>
                        </div>
                    </div>
                </div>
                <div class="text-block">
                    <h3 class="mb-4">История на устройството</h3>
                    <div class="d-flex">
                        <div class="icon-rounded bg-secondary-light flex-shrink-0">
                            <svg class="svg-icon text-secondary w-2rem h-2rem">
                                <use xlink:href="#imac-screen-1"> </use>
                            </svg>
                        </div>
                        <div class="pt-2 ms-3"><strong>Windows 10.0 </strong>· Chrome
                            <div class="badge badge-secondary-light text-uppercase">текуща сесия</div>
                            <p class="text-sm text-muted">Кербала, Ивак · April 6, 2020 at 01:51pm</p><a
                                class="btn btn-link text-primary ps-0" href="#">Излизане от устройството</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4 ms-lg-auto">
                <div class="card border-0 shadow">
                    <div class="card-header bg-primary-light py-4 border-0">
                        <div class="d-flex align-items-center">
                            <div>
                                <h4 class="h6 subtitle text-sm text-primary">Да направим профила ви по-сигурен</h4>
                            </div>
                            <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ms-3 text-primary flex-shrink-0">
                                <use xlink:href="#shield-security-1"> </use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <h6 class="card-text">Сигурност на акаунта ви: </h6>
                        <p class="card-text mb-4"><span class="badge badge-info-light">Средна</span></p>
                        <p class="text-muted card-text">Винаги работим по начини за повишаване на безопасността в нашата
                            общност. </p>
                        <p class="text-muted card-text">Затова преглеждаме всяка сметка, за да сме сигурни, че е
                            възможно най-сигурна.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>