::ng-deep .mat-checkbox-inner-container {
    width: 22px !important;
    height: 22px !important;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    font-size: 16px;
}

::ng-deep .mat-checkbox-inner-container .mat-checkbox-frame {
    border-width: 1px;
    border-color: lightgray;
}

.stars-size {
    font-size: 20px;
}