<app-add-studio-zero (nextPageEvent)="nextStep($event)" (previousPageEvent)="previousStep($event)" [hidden]='show[0]'>   </app-add-studio-zero>
<app-add-studio-first (nextPageEvent)="nextStep($event)" (previousPageEvent)="previousStep($event)" [hidden]='show[1]'>   </app-add-studio-first>
<app-add-studio-second (nextPageEvent)="nextStep($event)" (previousPageEvent)="previousStep($event)" [hidden]='show[2]'>   </app-add-studio-second>
<app-add-studio-third (nextPageEvent)="nextStep($event)" (previousPageEvent)="previousStep($event)" [hidden]='show[3]'>   </app-add-studio-third>
<app-add-studio-fourth [hidden]='show[4]' (nextPageEvent)="nextStep($event)" (previousPageEvent)="previousStep($event)" >   </app-add-studio-fourth>